@font-face {
  font-family: 'MyFont';
  src: url('../Oswald-Regular.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@mixin font($alias, $name, $weight) {
  @font-face {
    font-family: $alias;
    src: url('fonts/' + $name + '.woff') format('woff');
    font-weight: $weight;
    font-style: normal;
  }
}
